
.character-card {
  display: inline-block;
  width: calc(25% - 1rem); /* Ajuste de tamaño para cuatro columnas */
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.character-card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 1rem;
}

/* Estilos para diferentes estados */
.status-alive {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.status-dead {
  background-color: #f44336; /* Rojo */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.status-unknown {
  background-color: #ff9800; /* Naranja */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

/* Estilos para diferentes géneros */
.gender-male {
  background-color: #2196f3; /* Azul */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.gender-female {
  background-color: #e91e63; /* Rosa */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.gender-unknown {
  background-color: #9e9e9e; /* Gris */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

/* Estilos para diferentes especies */
.species-humanoid {
  background-color: #ffc107; /* Amarillo */
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.species-alien {
  background-color: #8bc34a; /* Verde lima */
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.species-unknown {
  background-color: #607d8b; /* Azul grisáceo */
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .character-card {
    width: calc(50% - 1rem); /* Dos columnas en pantallas pequeñas */
  }
}


